body {
  background: #c8b9f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 600px;
  height: auto;
  text-align: center;
  border: 10px solid #101116;
  background: #101116;
  border-radius: 5px;
  border: 2px solid #5cdaeb;
  padding: 4px 6px;
  font-family: 'Roboto', sans-serif;
}

.answersbtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(60px, auto);
  font-size: 18px;
}
.questions {
  height: auto;
  width: 280px;
  /* background-color: #76798618; */
  border: 10px;
  color: #fff;

  letter-spacing: 1px;
  margin: auto;
}

.question {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.answerbtn {
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #262834;
  color: #fff;
  font-weight: 500;
  box-shadow: inset 0 0 4px #fff;
}

.answerbtn:hover {
  background: #61678a;
}
.nextquestion {
  color: #fff;
  position: relative;
  float: right;
  cursor: pointer;
}
.nextquestion:hover{
  color: rgb(113, 138, 184);
}
.correctAns {
  background: rgb(113, 138, 184);
  color: #101116;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: inset 0 0 4px #fff;
}
.scoreContainer {
  position: absolute;
  top: 40%;
  right: 45%;
  justify-content: center;
  align-items: center;
}
.score {
  --x: 50%;
  --y: 50%;
  position: relative;
  appearance: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid transparent;
  background: linear-gradient(#000, #000) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
      border-box;
}
.startgame{
  --x: 50%;
  --y: 50%;
  position: relative;
  appearance: none;
  padding: 1em 2em;
  color: black;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid transparent;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
      border-box;
}
